.dialog:before { display: none; position: fixed; top: 0; left: 0; bottom: 0; width: 100%; background: #000; opacity: .5; content: ""; }
.dialog_wrapper { position: fixed; min-width: 200px; padding: 20px; background: #fff; box-shadow: 0 0 4px rgba(0,0,0,.5); transform: scale(0,0); border-radius: 4px; overflow: hidden; opacity: 0; transition: transform 1s, opacity 1s; }
.dialog_title { margin: 0; padding: 0; font-weight: bolder; font-size: 16px; }
.dialog_close { position: absolute; top: 0; right: 5px; }
.dialog_close_default:before { display: inline-block; line-height: 1; content: "×"; font-weight: bolder; font-size: 20px; color: #999; }
.dialog_content { margin: 10px; line-height: 30px; font-size: 14px; overflow-y: auto; }
.dialog_btns { text-align: center; }
.dialog_btn { display: inline-block; height: 28px; padding: 0 15px; box-sizing: border-box; border: none; border-radius: 2px; outline: none; line-height: 28px; }
.dialog_btn + .dialog_btn { margin-left: 10px; }
.dialog_btn_0 { background: #1e9fff; color: #fff; }
.dialog_btn_1 { background: #fff; border: 1px solid #dfdfdf; }

/*animate*/
.dialog.show .dialog_wrapper { transform: scale(1,1); opacity: 1; }
.dialog.show:before { display: block; }

/*no shadow*/
.dialog.noShadow:before { display: none; }