.qq .dialog_content { margin: 0; }
.qq_wrapper { position: relative; height: 100%; }

.qq_user { padding-bottom: 10px; overflow: hidden; }
.qq_user_name { line-height: 20px; font-size: 16px; }
.qq_user_desc { line-height: 20px; font-size: 12px; color: #999; }
.qq_friends_list { overflow-y: auto; }
.qq_friends_list_title { margin-bottom: 10px; padding-left: 10px; border-left: 3px solid #1e9fff; line-height: 20px; font-size: 14px; }
.qq_friends_no { line-height: 1.4; text-align: center; font-size: 12px; color: #999; overflow-y: hidden; }
.qq_friend { padding: 10px 0; border-top: 1px solid #ddd; }
.qq_friend:last-child { border-bottom: 1px solid #ddd; }
.qq_friend_icon { display: inline-block; width: 40px; height: 40px; margin-right: 10px; border-radius: 4px; background: #999; text-align: center; line-height: 40px; color: #fff; vertical-align: middle; }
.qq_friend_info { display: inline-block; height: 40px; line-height: 20px; vertical-align: middle; }
.qq_friend_name { font-size: 14px; }
.qq_friend_desc { font-size: 12px; color: #999; }
.qq_friend_add { position: absolute; bottom: 0; right: 0; display: inline-block; width: 40px; height: 40px; background: #fff; border-radius: 50%; border: 1px solid #ddd; line-height: 40px; text-align: center; text-indent: -9999px; font-weight: bold; font-size: 28px; color: #333; }
.qq_friend_add:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: "+"; text-indent: 0; }

.qq_chat_area { border: 1px solid #ddd; width: 500px; height: 300px; margin-top: 10px; border-radius: 4px; /*overflow: hidden;*/ }
.qq_chat_history { height: 65%; padding: 10px; border-bottom: 1px solid #ddd; overflow-y: auto; }
.qq_chat_toolbar { height: 8%; }
.qq_chat_input { height: 27%; padding: 4px 10px; border-top: 1px solid #ddd; outline: none; cursor: text; font-size: 12px; }
.qq_chat_submit { float: right; display: inline-block; width: 80px; margin-top: 10px; background: #1e9fff; border-radius: 4px; text-align: center; color: #fff; }
.qq_chat_bubble { position: relative; display: inline-block; clear: both; max-width: 50%; padding: 4px 10px; border-radius: 10px; font-size: 12px; color: #fff; }
.qq_chat_bubble:before { position: absolute; top: 10px; display: inline-block; width: 0; height: 0; border-style: solid; content: ""; }
.qq_chat_bubble_a { float: left; margin-left: 10px; background: #1e9fff; }
.qq_chat_bubble_a:before { left: -10px; border-width: 5px 10px 5px 0; border-color: transparent #1e9fff transparent transparent; }
.qq_chat_bubble_b { float: right; margin-right: 10px; background: #ff9000; }
.qq_chat_bubble_b:before { right: -10px; border-width: 5px 0 5px 10px; border-color: transparent transparent transparent #ff9000; }