extend layout.pug


block header
	.container
		.clearfix.py20
			.col4.mt20.px20
				include logo.pug
			.col4
				include search.pug
			.contact.inline.col4.tr.mt20.py10.f16
				span.contact_item
					i.icon-phone1.c-system.mr4
					|400-888-8888
				span.contact_item.ml20
					i.icon-phone2.c-system.mr4
					a.link-default.contact_link(href="#") 在线客服

block nav
	.main_nav
		.container.clearfix
			include nav-main.pug

block main
	.page_home
		.banner
			a(href="")
				img(src="images/banner.jpg", alt="")
		.container
			section.entry_list
				a(href="#")
					img(src="images/1.jpg", alt="")
				a(href="#")
					img(src="images/2.jpg", alt="")
				a(href="#")
					img(src="images/3.jpg", alt="")
				a(href="#")
					img(src="images/4.jpg", alt="")
			section
				.section_head
					h2.section_title 限时抢购
					.countdown
						span 距结束
						span.countdown_time 00:12:34
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 品牌盛宴
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 服饰家居
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 潮流美妆
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 日用百货
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 家用电器
				.section_content
					a.grid(href="")
						img(src="", alt="")
