extend layout.pug

block header
	include logo.pug
	.shop_logo
		i.icon-shop
		.shop_name 女神屋女装
		.shop_evaluation [ 描述 4.6 质量 4.8 服务 4.9 发货 4.8 ]
	include search-inside.pug

block nav
	include nav-shop.pug