<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title 购物网
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/public.css")
body
	.page
		include topbar.pug
		header.header
			block header
		block nav
		.main
			block main
		include footer.pug
	.shadow
	script(src="js/jquery-3.2.1.min.js")
	script(src="js/public.js")
	block script