nav.nav
	ul
		li.active
			a(href="javascript: void(0);") 全部分类
			ul
				- var list = ["上衣", "裙子", "牛仔裤", "外套", "护肤品", "彩妆", "家居", "美食", "电器", "书籍"];
				- for (var i = 0; i < list.length; i++) {
					li
						a(href="#")= list[i]
						div
							.nav_link_box
								.nav_link_type 新品发布
								div
									-var navList = ["初秋外套","针织衫","V领上衣","卫衣","牛仔外套","衬衫","吊带背心","长款T恤","雪纺衫","蕾丝衫","短款上衣","复古喇叭袖"]
									each value in navList
										a(href="#")= value
							.nav_link_box
								.nav_link_type 人气热销
								div
									-var navList = ["牛仔外套","衬衫","吊带背心","长款T恤","初秋外套","针织衫","V领上衣","蕾丝衫","短款上衣","复古喇叭袖","卫衣","雪纺衫"]
									each value in navList
										a(href="#")= value
				-}
		li
			a(href="#") 首页
		li
			a(href="#") 服装城
		li
			a(href="#") 美妆馆
		li
			a(href="#") 新品首发
		li
			a(href="#") 低价抢购