nav.nav
	ul.clearfix
		li
			a(href="javascript: void(0);") 所有宝贝
				i.icon-down.ml4
			ul
				li
					a(href="#") 衬衫
				li
					a(href="#") 外套
				li
					a(href="#") 牛仔裤
				li
					a(href="#") 连衣裙
		li
			a(href="#") 首页
		li
			a(href="#") 2017春夏新品
		li
			a(href="#") 女鞋
		li
			a(href="#") 包包