.topbar
	.container.clearfix
		.fl
			span.pr10
				a.link-default.link-hover(href="#") 珠海
				a.link-default.link-hover.c-system.pl10(href="#") [切换]
			||
			span.topbar_item
				i.icon-home.c-system
				|&nbsp;
				a.link-default.link-hover(href="index.html") 商城首页
		.fr
			span.topbar_item.dropdown
				a.link-default.link-hover(href="javascript: void(0);") 张三
					i.icon-down.ml4
				ul.dropdown_menu
					li
						a.link-default.link-hover(href="#") 个人中心
					li
						a.link-default.link-hover(href="#") 账号与安全
			span.topbar_item
				a.link-default.link-hover(href="#") 消息（0）
			span.topbar_item
				a.link-default.link-hover(href="javascript: void(0);") 退出
			||
			span.topbar_item
				i.icon-shop.c-system
				|&nbsp;
				a.link-default.link-hover(href="#") 购物车
			span.topbar_item
				i.icon-order.c-system
				|&nbsp;
				a.link-default.link-hover(href="#") 我的订单
			span.topbar_item
				i.icon-collection.c-system
				|&nbsp;
				a.link-default.link-hover(href="#") 我的收藏
			span.topbar_item
				i.icon-help.c-system
				|&nbsp;
				a.link-default.link-hover(href="#") 帮助中心