extend layout.pug


block header
	.container
		include logo.pug
		include search.pug
		.contact
			span.contact_item
				i.icon-phone1
				|400-888-8888
			span.contact_item
				i.icon-phone2
				a.contact_link(href="#") 在线客服

block nav
	include nav-main.pug

block main
	.page_home
		.banner
			a(href="")
				img(src="images/banner.jpg", alt="")
		.container
			section.entry_list
				a(href="#")
					img(src="images/1.jpg", alt="")
				a(href="#")
					img(src="images/2.jpg", alt="")
				a(href="#")
					img(src="images/3.jpg", alt="")
				a(href="#")
					img(src="images/4.jpg", alt="")
			section
				.section_head
					h2.section_title 限时抢购
					.countdown
						span 距结束
						span.countdown_time 00:12:34
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 品牌盛宴
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 服饰家居
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 潮流美妆
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 日用百货
				.section_content
					a.grid(href="")
						img(src="", alt="")
			section
				.section_head
					h2.section_title 家用电器
				.section_content
					a.grid(href="")
						img(src="", alt="")
