.topbar
	.container.clearfix
		.topbar_left.fl
			span.topbar_area
				a.topbar_link.link-default.link-hover(href="#") 珠海
				a.topbar_link.link-default.link-hover(href="#") [切换]
			||
			span.topbar_item
				i.icon-home
				|&nbsp;
				a.topbar_link.link-default.link-hover(href="index.html") 商城首页
		.topbar_right.fr
			span.topbar_item.dropdown.topbar_dropdown
				a.link-default.link-hover.dropdown_btn.topbar_dropdown_btn(href="javascript: void(0);") 张三
				.dropdown_box.topbar_dropdown_box
					ul.topbar_dropdown_list
						li
							a.topbar_dropdown_link.link-default.link-hover(href="#") 个人中心
						li
							a.topbar_dropdown_link.link-default.link-hover(href="#") 账号与安全
			span.topbar_item
				a.topbar_link.link-default.link-hover(href="#") 消息（0）
			span.topbar_item
				a.topbar_link.link-default.link-hover(href="javascript: void(0);") 退出
			||
			span.topbar_item
				i.icon-shop
				|&nbsp;
				a.topbar_link.link-default.link-hover(href="#") 购物车
			span.topbar_item
				i.icon-order
				|&nbsp;
				a.topbar_link.link-default.link-hover(href="#") 我的订单
			span.topbar_item
				i.icon-collection
				|&nbsp;
				a.topbar_link.link-default.link-hover(href="#") 我的收藏
			span.topbar_item
				i.icon-help
				|&nbsp;
				a.topbar_link.link-default.link-hover(href="#") 帮助中心